extends layout

block content
  div.container-fluid(ng-controller='mainCtrl')
    .actionBar.row
      .header
        h2 Andrew Dourgarian
        ul.media
          li
            a(href="https://github.com/ADourgarian")
              img(src="../images/media/githubWhite.png" width="50px" height="50px")
          li
            a(href="https://www.linkedin.com/in/andrew-dourgarian-73261569?trk=hp-identity-photo")
              img(src="../images/media/linkedIn.png" width="50px" height="50px")
      button#portfolio.portfolio(ng-click="nav('portfolio')") Portfolio
      button#resume.resume(ng-click="nav('resume')") Resume
      button#bio.bio(ng-click="nav('bio')") Bio
    main.row
      .background
        .container
          h1(ng-show="(currentPanel == 'bio')") Full Stack Web Developer
          h1(ng-show="(currentPanel == 'resume')") Web Developer / Software Engineer
      .container
        div.content
          //figure.faceBox.col-md-offset-1(ng-show="(currentPanel == 'bio')")
          //  img.myHead(src="../images/myHead.jpg")
          //  figcaption.name Andrew Dourgarian
          div.bio(ng-show="(currentPanel == 'bio')")
            h1.title Personal Bio
            div.paragraph(ng-repeat="paragraph in text.bio track by $index")
              p {{paragraph}}
          div.resume(ng-show="(currentPanel == 'resume')")
            h2.subTitle Technologies
            ul.skills
              li(ng-repeat="tech in technologies")
                p {{tech.name}}
            h2.subTitle Experience
            h3 Full Stack Web Developer
            h4.col-sm-4 Tworks.io(Tempworks)
            h4.col-sm-8.date June 2015 ­ September 2015 + April 2016 - Present
            ul
              li(ng-repeat="listItem in text.resume.tworks.listItems") {{listItem}}
              li
                span Development Website:
                  a(href="https://dev.aidacreative.com/login?returnUrl=%2F")  Aida Creative Developer Site
            h3 Full Stack Web Developer Student
            h4.col-sm-4 Prime Digital Academy
            h4.col-sm-8.date October 2015 ­ February 2016
            h4.cTitle Individual Capstone Project(MyBlog)
            li
              span Sample Code/Github Repository:
                a(href="https://github.com/ADourgarian/social_networking_site") Union Park Marketing
              li(ng-repeat="listItem in text.resume.myBlog.listItems") {{listItem}}
              li
            h4.cTitle Group Capstone Project for Union Park
            ul
              li(ng-repeat="listItem in text.resume.unionPark.listItems") {{listItem}}
              li
                span Sample Code/Github Repository:
                  a(href="https://github.com/ADourgarian/union-park") Union Park Marketing
            h4 Web Design Intern
            h4.col-sm-4 Tempworks Staffing Software
            h4.col-sm-8.date June 2012 - August 2012
            ul
              li(ng-repeat="listItem in text.resume.tempworks.listItems") {{listItem}}
            h4 Barista
            h4.col-sm-4 Dunn Brothers Coffee
            h4.col-sm-8.date August 2014 - June 2015
            ul
              li(ng-repeat="listItem in text.resume.dunnBros.listItems") {{listItem}}
          div.portfolio(ng-show="(currentPanel == 'portfolio')")
            h1.title My Projects
            div(ng-repeat="project in text.portfolio")
              h3 {{project.title}}
              div
                span(ng-show="project.url") Live Site Url:
                  a(href="{{project.url}}") {{project.url}}
              div
                span(ng-show="project.github_url") Github Repository Url:
                  a(href="{{project.github_url}}") {{project.github_url}}
              div.paragraph(ng-repeat="paragraph in project.paragraphs")
                p {{paragraph}}
      footer
        ul.media
          li
            a(href="https://github.com/ADourgarian")
              img(src="../images/media/githubWhite.png" width="50px" height="50px")
          li
            a(href="https://www.linkedin.com/in/andrew-dourgarian-73261569?trk=hp-identity-photo")
              img(src="../images/media/linkedIn.png" width="50px" height="50px")
