extends layout

block content
  div(ng-controller='mainCtrl')
    div.row.actionBar
      button#bio.bio.col-sm-6(ng-click="nav('bio')") Bio
      button#resume.resume.col-sm-6(ng-click="nav('resume')") Resume/Portfolio
    main.row
      .container
        figure.faceBox.col-md-offset-1(ng-show="(currentPanel == 'bio')")
          img.myHead(src="../images/myHead.jpg")
          figcaption.name Andrew Dourgarian
        div.content
          div.bio(ng-show="(currentPanel == 'bio')")
            h2.title Personal Bio
            div.paragraph
              p {{text.bio.P1}}
            div.paragraph
              p {{text.bio.P2}}
            div.paragraph
              p {{text.bio.P3}}
          div.resume(ng-show="(currentPanel == 'resume')")
            h1.title Web Developer, Web Designer, Software Engineer
            ul.contact
              li
                span Github:
                  a(href="https://github.com/ADourgarian") https://github.com/ADourgarian
              li
                span LinkedIn:
                  a(href="https://www.linkedin.com/in/andrew-dourgarian-73261569?trk=hp-identity-photo") https://www.linkedin.com/in/andrew-dourgarian-73261569?trk=hp-identity-photo
            h2.subTitle Technologies
            ul.skills
              li.col-xs-3(ng-repeat="tech in technologies")
                div.circle(ng-repeat="i in getNumber(tech.level) track by $index")
                p {{tech.name}}
            h2.subTitle Experience
            h3 Full Stack Web Developer
            h4.col-md-4 Tworks.io(Tempworks)
            h4.col-md-8.date June 2015 ­ September 2015 + April 2016 - Present
            ul
              li(ng-repeat="listItem in text.resume.tworks.listItems") {{listItem}}
              li
                span Development Website:
                  a(href="https://dev.aidacreative.com/login?returnUrl=%2F") https://dev.aidacreative.com/login?returnUrl=%2F
            h3 Full Stack Web Developer Student
            h4.col-sm-4 Prime Digital Academy
            h4.col-sm-8.date October 2015 ­ February 2016
            h4.cTitle Individual Capstone Project(MyBlog)
            ul
              li(ng-repeat="listItem in text.resume.myBlog.listItems") {{listItem}}
            h4.cTitle Group Capstone Project for Union Park
            ul
              li(ng-repeat="listItem in text.resume.unionPark.listItems") {{listItem}}
              li
                span Website Url:
                  a(href="http://ec2-52-91-228-202.compute-1.amazonaws.com:3000/") http://ec2-52-91-228-202.compute-1.amazonaws.com:3000/
              li
                span Sample Code/Github Repository:
                  a(href="https://github.com/ADourgarian/union-park/blob/master/public/scripts/controllers/ccTableCtrl.js") https://github.com/ADourgarian/union-park/blob/master/public/scripts/controllers/ccTableCtrl.js
            h4 Web Design Intern
            h4.col-sm-4 Tempworks Staffing Software
            h4.col-sm-8.date June 2012 - August 2012
            ul
              li(ng-repeat="listItem in text.resume.tempworks.listItems") {{listItem}}
            h4 Barista
            h4.col-sm-4 Dunn Brothers Coffee
            h4.col-sm-8.date August 2014 - June 2015
            ul
              li(ng-repeat="listItem in text.resume.dunnBros.listItems") {{listItem}}
    footer