doctype html
html(ng-app='personalWebsite')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/simplegrid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='lib/angular.min.js')
    script(src='scripts/appConfig.js')
  body
    block content
