body {
  margin:0;
  font: 14px Arial, sans-serif;
  color: black;
}

a {
  color: #00B7FF;
}

p {
  margin: 3px 0;
}

.actionBar {
  position: relative;
  clear:both;
  background-color: #1d1d1d;
  color: #1abc9c;
  box-shadow: 0 0 5px black;

  h2 {
    margin-top: 14px;
    padding-left:20px;
    display: inline;
    float: left;
  }
  button {
    width: 20%;
    padding: 5px 0;
    border: none;
    border-left: 1px solid rgba(50, 50, 50, 0.7);
    background: none;
    float: right;
    font-size: 3em;
    font-weight: 500;
    outline:none;
    transition: .5s ease-in-out;

  }
  button:hover { background-color: rgba(10, 150, 174, 0.61); }
}

main {

  .background {
    background-color: #1abc9c;
    box-shadow: 0 0 5px black;

    h1 {
      margin: 0;
      color: #FFFFFF;
      font-size: 4em;
      font-weight: 900;
      padding: 50px 0 ;
      text-align: center;
    }
  }
  .container {
    padding: 0;
    .faceBox {
      padding-bottom: 20px;
      padding-top: 20px;
      clear:both;
      .myHead {
        width:200px;
        margin: auto;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
      }
      .name{
        font-size: 2.8em;
        font-weight: bold;
        display:inline;
        vertical-align: middle;
        padding-left:40px;
      }
    }
    .content {
      padding: 10px 4% 25px 4%;
      margin-bottom:50px;

      .paragraph {
        word-spacing: 2px;
        line-height: 160%;
      }

      .title {
        margin-bottom: 0;
      }

      .bio {
        p {
          margin: 20px 40px 20px 0;
        }
      }

      .resume {
        p{
          margin: 3px;
        }
        ul{
          margin-top: 0;
          margin-bottom: 15px;
          clear: both;
        }
        h2 {
          margin: 0 0 10px 0;
        }
        h3, h4 {
          padding: 0 0 10px 0;
          margin: 0;
        }

        .contact {
          padding-left: 20px;
          padding-top: 15px;
          list-style:none;
          margin-bottom: 0;
          li {
            padding: 5px;
          }
        }

        .skills {
          p {
            float: left;
            font-weight: 800;
          }

          ul {
            list-style: none;
          }

          li {
            width: 250px;
            display: inline;
          }

          .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 10px 5px 0 0;
            float: left;
            background-color: #082332;
          }
        }

        .subTitle {
          padding-top: 15px;
          clear: both;
        }
        .date {
          padding-right: 3%;
        }
        @media (min-width: 768px) {
          .date {
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  main {
    padding-top: 0;
    .faceBox {
      padding:18px;
    }
  }

  .container {
    width: 100%;
    padding-right: 0;
  }

  .actionBar {
    button {
      padding: 35px 0;
      width: 100%;
    }
  }
}

footer {
  height:300px;
  background-color: #082332;
}