body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F1F1F1;
  color: black;
}

a {
  color: #00B7FF;
}

p {
  margin: 3px 0;
}

main {
  overflow:hidden;
  .container {
    padding: 0;
    background: #FFFFFF;

    .actionBar {
      clear:both;
      button {
        border: none;
        float: none;
        background-color: #F8F8F8;
        font-size: 3em;
        font-weight: 500;
        color: #1395d2;
        outline:none;
      }
      button:hover { background-color: rgba(10, 93, 116, 0.61); }
      button:active { background-color: SteelBlue; color: White; }
    }
    .faceBox {
      padding-bottom: 20px;
      padding-top: 20px;
      clear:both;
      .myHead {
        width:200px;
        margin: auto;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
      }
      .name{
        font-size: 2.8em;
        font-weight: bold;
        display:inline;
        vertical-align: middle;
        padding-left:40px;
      }
    }
    .content {
      padding: 10px 4% 25px 4%;
      margin-bottom:50px;

      .paragraph {
        word-spacing: 2px;
        line-height: 160%;
      }

      .title {
        margin-bottom: 0;
      }

      .bio {
        p {
          margin: 20px 40px 20px 0;
        }
      }

      .resume {
        p{
          margin: 3px;
        }
        ul{
          margin-top: 0;
          margin-bottom: 15px;
          clear: both;
        }
        h2 {
          margin: 0 0 10px 0;
        }
        h3, h4 {
          padding: 0 0 10px 0;
          margin: 0;
        }

        .contact {
          padding-left: 20px;
          padding-top: 15px;
          list-style:none;
          margin-bottom: 0;
          li {
            padding: 5px;
          }
        }

        .skills {
          p {
            float: left;
            font-weight: 800;
          }

          ul {
            list-style: none;
          }

          li {
            width: 228px;
            display: inline;
          }

          .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 10px 5px 0 0;
            float: left;
            background-color: #082332;
          }
        }

        .subTitle {
          padding-top: 15px;
          clear: both;
        }
        .date {
          padding-right: 3%;
        }
        @media (min-width: 768px) {
          .date {
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  main {
    padding-top: 0;
    .faceBox {
      padding:18px;
    }
  }

  .container {
    width: 100%;
    padding-right: 0;
  }

  .actionBar {
    button {
      padding: 35px 0;
      width: 100%;
    }
  }
}

footer {
  height:150px;
  background-color: #082332;
}